<h2>Sign Up</h2>

<%= form_for @conn, Routes.signup_path(@conn, :create), fn u-> %>
<div>
  <%= label u, :email %>
  <%= text_input u, :email %>
<div>
  <%= label u, :Twitter_Handle %>
  <%= text_input u, :handle %>
</div>

<div>
  <%= label u, :Password %>
  <%= password_input u, :crypto_pass %>
</div>

<div>
  <%= submit "Sign up "%>
</div>
<%end%>
