<div class="col">

<div>
    <h2>Live chat room</h2>
    <ul id = "myTweets">
       
    </ul>
  </div>

<div>
<h2> What's on your mind? </h2>
<form id="tweetForm">
  <input type = "text" id = "tweetText">
  <button>Submit</button>
</form>


</div>